
@{
    ViewData["Title"] = "ExampleController Index Sayfasi";
    Layout = "ExampleLayout";
}

@section header {
    <p>bu kodlar header altina eklenecek</p>
}

<p>ExampleController Index Sayfasi</p>
